{% load static %}
<html>
<head>
    <title>
        PPW Story 5
        
    </title>
</head>
<body >
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

  <title>PPW</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
<a class="navbar-brand" href="{% url 'index-home' %}">Story 5</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'index-home' %}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active" >
      <a class="nav-link" href="{% url 'index-memes' %}">Meme Storage</a>
    </li>
    
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Friends
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{%url 'index-add'%}">Add Friend</a>
        <a class="dropdown-item" href="{% url 'index-show' %}">Friend List</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" js-scroll-trigger href="#myModal" data-toggle = "modal" data-target= "#modal1" class="nav-link">Entertain Me</a>
    </li>
  </ul>
</div>
</nav>
<div class="modal" tabindex="-1" role="dialog" id="modal1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modalheader">Ngerjain PPW</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><img src="{% static 'images/raging keyboard.gif' %}"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript" src="{% static 'js/bootstrap.query.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <center>
        <br><br><br><br>
        <h1>ADD FRIEND</h1>
        

          
            <form action="new_friend" method="post">
              {% csrf_token %}
              
                {{form.as_table}}
              
              <input type="submit" value="Submit">
            </form>


        <br><br><br><br>
    </center>
</body>
{% include "index/footer.html" %}
</html>