{% load static %}
<html>
<head>
    <title>
        PPW Story 5
        
    </title>
</head>
<body >
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

  <title>PPW</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
<a class="navbar-brand" href="{% url 'index-home' %}">Story 5</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'index-home' %}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active" >
      <a class="nav-link" href="{% url 'index-memes' %}">Meme Storage</a>
    </li>
    
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Friends
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{%url 'index-add'%}">Add Friend</a>
        <a class="dropdown-item" href="{% url 'index-show' %}">Friend List</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" js-scroll-trigger href="#myModal" data-toggle = "modal" data-target= "#modal1" class="nav-link">Entertain Me</a>
    </li>
  </ul>
</div>  
</nav>
<div class="modal" tabindex="-1" role="dialog" id="modal1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modalheader">Ngerjain PPW</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><img src="{% static 'images/raging keyboard.gif' %}"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript" src="{% static 'js/bootstrap.query.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <center>
        <br><br><br><br>
    <table >
            <tr >
                <td colspan=4 class="seperator">
                <center>

                    <h3>Meme Stockpile</h3>
                </center>
                </td>
            </tr>
            <tr height=30>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static 'images/fly.jpg' %}" class="meme">
                </td>
                <td>
                    <img src="{% static 'images/bk.jpg' %}" class="meme">
                </td>
                <td>
                    <img src="{% static 'images/sanic.jpg' %}" class="meme">
                </td>
                <td>
                    <img src="{% static 'images/hulk.jpg' %}" class="meme">
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Meme of The Day</h4>
                </td>
            </tr>
            <tr height=30>
                <td>

                </td>
            </tr>
            <tr >
                <td colspan=4 class="seperator">
                <center>

                    <h3>NSFW Memes<br>Coming Soon :P (never)</h3>
                </center>
                </td>
            </tr>
            <tr height=30>
                <td>

                </td>
            </tr>
            <tr>
                <td colspan=4 align="center">

                <h3>Contribute to us by donating & send your memes!</h3>

                </td>
            </tr>
            <tr height=30>
                <td>

                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <center>Donate Here!<br>I am now jobless for your entertainment<br><br><br><br>
                    
                    <a href="https://www.paypal.com/id/home">
                        <img src="{% static 'images/paypal.png' %}" class="logo">
                    </a>
                </center>
                </td>
                <td colspan=2 class="line">
                    <center>Send Your Images Here!<br>I am now jobless for your entertainment<br><br><br>
                    <img src="{% static 'images/gmail.png' %}" class="logo">LmaoKappa@gmail.com
                    </center>
                </td>
            </tr>
            <tr height=50>
                <td>

                </td>
            </tr>


            

    </table>
    
    </center>
</body>
{% include "index/footer.html" %}
</html>