{% load static %}
<html>
<head>
    <title>
        PPW Story 5
        
    </title>
</head>
<body >
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <title>PPW</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="{% url 'index-home' %}">Story 5</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index-home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" >
        <a class="nav-link" href="{% url 'index-memes' %}">Meme Storage</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Friends
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{%url 'index-add'%}">Add Friend</a>
          <a class="dropdown-item" href="{% url 'index-show' %}">Friend List</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" js-scroll-trigger href="#myModal" data-toggle = "modal" data-target= "#modal1" class="nav-link">Entertain Me</a>
      </li>
    </ul>
  </div>
</nav>
<div class="modal" tabindex="-1" role="dialog" id="modal1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modalheader">Ngerjain PPW</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><img src="{% static 'images/raging keyboard.gif' %}"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <script type="text/javascript" src="{% static 'js/bootstrap.query.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <center>
        <br><br><br><br>
    <table >
            <tr >
                <td width=200 class="borders" >
                <center><img class="face" src="{% static 'images/face.jpg' %}" ></td></center>
                </td>
                <td rowspan=7 width=500 >
                    <center>
                    <h3 >Education</h3>
                    <img class="logoimg" src="{% static 'images/Makara_UI.png' %}" >
                    <h4>Universitas Indonesia <br>(2019-Now)</h4>
                    </center>
                </td>
                <td rowspan=7 class="line" width=500>
                    <center>
                        <h3>
                            Accomplishment
                            </h3>
                            <img class="logoimg" src="{% static 'images/Logo Equinox Transp.png' %}" >
                            <h4>
                                Event Organizer <br>SKIPI JAM Equinox<br>2019
                            </h4>
                        
                    </center>
                </td>
            </tr >
            <tr class="tablenormal">
                <td class="border">
                    Name: Kevin Constantine

                </td>
            </tr>
            <tr class="tablenormal">
                <td class="borders" >
                    NPM: 1906426866

                </td>
            </tr>
            <tr class="tablenormal">
                <td class="borders"align="center">
                    ~Batch of 2019~

                </td>
                
            </tr>
            <tr class="tablenormal">
                <td class="border">
                    Hobby: Gaming

                </td>
            </tr>
            <tr class="tablenormal">
                <td class="border">
                    <small>University: Universitas Indonesia (2019-Now)</small>

                </td>
            </tr>
            <tr class="tablenormal">
                <td class="border">
                    <a href="http://steamcommunity.com/id/1C3B3Rg/ "><center><img src="{% static 'images/steam_logo.png' %}" class="logo"></center></a>

                </td>
            </tr>
            <tr height=200>
                <td>

                </td>
            </tr>
            <tr height=100 >
                <td colspan=3 class="seperator">
                <center>

                    <h1>Gallery</h1>
                </center>
                </td>
            </tr>
            <tr height=50>
                <td>

                </td>
            </tr>
            <tr>
                <td colspan=3>
                    <table class="table2">
                        <tr>
                            <td rowspan=2>
                            <img src="{% static 'images/stasiun.jpg' %}" class="stand">
                            </td>
                            <td>
                            <img src="{% static 'images/pantai.jpg' %}" class="small">    
                
                            <img src="{% static 'images/gunung.jpg' %}" class="small">
                            </td>
                            <td rowspan=2>
                            <img src="{% static 'images/pepe.jpg' %}" class="stand">
                            </td>
                
                        </tr>
                        <tr>
                            <td rowspan=2>
                                <img src="{% static 'images/candi.jpg' %}" class="large">
                            </td>
                            <td></td>
                        </tr>
                    </table> 
                </td>
                
            </tr>
            <tr height=50>
                <td>

                </td>
            </tr>
            <tr >
                <td colspan=3 class="seperator">
                <center>

                    <h4>&copyKevinConstantine 2020</h4>
                </center>
                </td>
            </tr>


            

    </table>
    
    </center>
</body>
{% include "index/footer.html" %}
</html>
